@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject AppState appState
<style>
    .btn_icon {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
</style>
<MatDrawerContainer Style="width: 100vw; height: 100vh;">
    <MatDrawer @bind-Opened="@Opened" Mode="@MatDrawerMode.Modal"
               Style="width: 100vw; height: 100vh;">
        <div style="margin:15px;">
            <header class="drawer-header text-center">
                <div class="drawer-logo">
                    <img src="@AppInfo.AppLogo" alt="@AppInfo.AppTitle" title="@AppInfo.AppTitle" width="72" height="72" />
                    <h1>@AppInfo.AppTitle</h1>
                </div>
            </header>
            <NavMenu />
        </div>
    </MatDrawer>
    <MatDrawerContent>
        <section class="container-fluid">
            @Body
        </section>
        <br />
        <br />
        <footer class="fixed-bottom">
            <nav class="navbar" style="background-color: rgba(255, 255, 255, 0.5);">
                <div>
                    <button class="btn_icon" @onclick="@(e=>ButtonClicked())">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-@Icon fa-stack-1x fa-inverse"></i>
                        </span>
                    </button>
                </div>
            </nav>
        </footer>
    </MatDrawerContent>
</MatDrawerContainer>

@code {
    string Icon;
    protected override void OnParametersSet()
    {
        Opened = false;
        Icon = "bars";
    }
    bool Opened = false;

    void ButtonClicked()
    {
        Opened = !Opened;
        if (Opened)
        {
            Icon = "times";
        }
        else
        {
            Icon = "bars";
        }
    }
}