@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject AppState appState
@inject IJSRuntime JSRuntime
<Title></Title>
<aside id="SideNav" class="sidenav">
    <nav style="margin:15px;">
        <header class="drawer-header text-center">
            <div class="drawer-logo">
                <img src="@AppInfo.AppLogo" alt="@AppInfo.AppTitle" title="@AppInfo.AppTitle" width="72" height="72" />
                <h1>@AppInfo.AppTitle</h1>
            </div>
        </header>
        <NavMenu />
    </nav>
</aside>
<section id="container" class="container-fluid">
    @Body
</section>
<footer style="position: fixed;bottom: 10px;right: 10px;z-index:99;">
    <div>
        <a role="button" href="javascript:;" class="btn_icon" @onclick="@(e=>appState.ToggleNavState())">
            <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i id="NavButton" class="fa fa-bars fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </div>
</footer>

@code {
    protected override void OnInitialized()
    {
        appState.jsRuntime = JSRuntime;
    }
}