@page "/tenant"
@attribute [Authorize]
@inject TenantApi tenantApi
@if (TenantDto != null)
{
    <AuthorizeView Policy="@TenantDefinitions.Policy">
        <Authorized>
            <h1>Hello, @context.User.Identity.Name!</h1>
            <h3>@TenantDto.Title</h3>
        </Authorized>
        <NotAuthorized>
            <Create></Create>
        </NotAuthorized>
    </AuthorizeView>

    <AuthorizeView Policy="@Permissions.Tenant.Owner">
        <p>Only tenant managers can see this.</p>
        <Management></Management>
    </AuthorizeView>

    <AuthorizeView Policy="@TenantDefinitions.Policy">
        <p>Only tenant users can see this.</p>
        <BooksPanel></BooksPanel>
    </AuthorizeView>

}
@code {

    TenantDto TenantDto;
    protected override async Task OnInitializedAsync()
    {
        TenantDto = await tenantApi.GetUserTenant();
    }

}