@page "/tenant"
@attribute [Authorize]
@inject TenantApi tenantApi
@if (TenantDto != null)
{
    <AuthorizeView Policy="@Policies.IsInTenant">
        <Authorized>
            <h1>Hello, @context.User.Identity.Name!</h1>
            <h3>@TenantDto.Title</h3>
        </Authorized>
        <NotAuthorized>
            <Create></Create>
        </NotAuthorized>
    </AuthorizeView>
    <MatTabGroup>
        <AuthorizeView Policy="@Permissions.Tenant.Manager">
            <MatTab Label="Management">
                <p>Only tenant managers can see this.</p>
                <Management></Management>
            </MatTab>
        </AuthorizeView>
        <AuthorizeView Policy="@Policies.IsInTenant">
            <MatTab Label="Books Panel">
                <p>Only tenant users can see this.</p>
                <BooksPanel></BooksPanel>
            </MatTab>
        </AuthorizeView>
    </MatTabGroup>
}
@code {

    TenantDto TenantDto;
    protected override async Task OnInitializedAsync()
    {
        TenantDto = await tenantApi.GetUserTenant();
    }

}