@page "/tenant"
@attribute [Authorize]
@inject TenantApi tenantApi
@inject NavigationManager navigationManager

@if (TenantDto != null)
{
    <AuthorizeView Policy="@TenantAuthorization.Policies.Everyone">
        <Authorized>
            <h3>@TenantDto.Title</h3>
        </Authorized>
        <NotAuthorized>
            <Create></Create>
        </NotAuthorized>
    </AuthorizeView>

    <AuthorizeView Policy="@TenantAuthorization.Policies.Manager">
        <h1>Hello, @context.User.Identity.Name!</h1>
        <p>You can only see this content if you're authenticated.</p>
        <p>Only tenant managers can see this.</p>
        <Management></Management>
    </AuthorizeView>

    <AuthorizeView Policy="@TenantAuthorization.Policies.User">
        <h1>Hello, @context.User.Identity.Name!</h1>
        <p>You can only see this content if you're authenticated.</p>
        <p>Only tenant users can see this.</p>
        <Books></Books>
    </AuthorizeView>

}
@code {
    TenantDto TenantDto;
    protected override async Task OnInitializedAsync()
    {
        TenantDto = await tenantApi.GetUserTenant();
    }

}